@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
    margin: 0;
    height: 100%;
    overflow-y: auto;
}

body{
    width: 100%;
   
}

#content{
    width: 100%;
  
    background-color: green;
    display: grid;
    grid-template-rows: 80px 1fr;
    color: white;
    background: url('/src/background.jpg');
    position: relative;
}

.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-y:hidden;
  
}

.nav > div {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px gray solid;
    cursor:pointer;
    opacity: 0.75;
    font-size: 22px;

}


.nav > div:hover, .nav>div.clicked{
    opacity:1;
    font-weight:800;
    font-size: 25px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.card{
    width: clamp(200px, 90%, 1000px);
    background-color: black;
    opacity: 0.75;
    border: 5px gray solid;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 120px;
    margin-bottom: 40px;
    height: auto;
    padding-bottom: 30px;
}

.card > div, .card>h2{
    height: auto;
    font-size: 32px;
    margin-top: 15px;
}

.card > div{
    font-size: 20px;
    overflow: unset;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 100%;
  }
  

  /*MENU*/

  .item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }

  h2, h3 {
    overflow:hidden;
    display: block;
    height: auto;
    width: 90%;
  }

  h3 { 
    margin-top: 20px;
  }

  h3 { 
    font-size: 1.5rem;
  }

  div.ingredients {
    font-style: italic;
    font-size: 1rem;
    align-self: flex-start;
    margin-top: 5px;
    margin-left: 5%;
  }

  .margin {
    height: 30px;
  }

  /* Home */
  h1 {
    font-size: 3.3rem;
    font-family: 'Patrick Hand', cursive;
    height: auto;
  }

  img {
    width: 90%;
    margin-top: 40px;
    object-fit: contain;
    background-image: url(/src/pizza.jpg);
  }